<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
<style>
div {

	position:absolute;
	top:35%;
	left:35%;
	font-size:30px;
}
h1 {
	text-align:center;
	font-family: 'Alatsi';
}
p {
	font-size:25px;
	text-align:center;
	font-family: 'Bad Script';
}
a {
	color:blue;
}
a:hover {
	color:skyblue;
}

</style>
</head>
<body>
<h1>Branch Recommendation</h1>
<!--<p>Based on the answers provided,we recommend you to take</p>
<div>Computer Science Engineering</div>-->
<p>Your answers were successfully submitted</p>
<p>To know the branch</p>
<a href='http://localhost:5000/branch'><p>Click here</p></a>

</body>
</html>